.movies__filters {
  display: flex;
  align-items: center;

  > * {
    width: 50%;
  }
}

.movies__radio {
  display: inline-block;
  margin: 0 0.5rem;
}
.instruments {
  display: flex;
  flex-direction: column;
  width: 90%;
  .instrument {
    width: 70%;
  }
}
